*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom,
    #009688 20%, #dbdbd3 20%);
    padding-top: 80px;
}

.container{
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    background-color: white;
}

/* INIZIO PARTE PROFILO/CONTATTI */

.contacts-container{
    width: 40%;
    height: 100%;
}


.contacts{
    overflow-y: scroll;
    height: 340px;
}
.user-profile{
    height: 100px;
    display: flex;
    background-color: rgba(234,234,234,255);
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 2em;
}

.user{
    display: flex;
    align-items: center;
}


img{
    margin-left: 10px;
    height: 70px;
    border-radius: 50%;
}

.username{
    margin-left: 1em;
    font-size: 20px;
}

.user-icons{
    display: flex;
    gap: 1em;
    font-size: 25px;
}

.user-icons>i{
    cursor: pointer;
    color: gray;
}

.notifications{
    height: 100px;
    background-color: rgba(142,218,252,255);
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline-start: .5em;

}

.notification{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.notification>i{
    font-size: 25px;
    color: rgba(142,218,252,255);
    cursor: pointer;
}

.search{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline: 1em;
}

.fa-magnifying-glass{
    font-size: 25px;
    color: grey;
    cursor: pointer;
}

.search-bar{
    width: 100%;
    height: 40px;
    padding-inline-start: .5em;
}

.contact-card{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.contact-card:active{
    background-color: lightgray;
}

.text{
    margin-left: 1em;
}

.contact-name{
    font-size: 20px;
}
.date{
    height: 20px;
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 12px;
    color: grey;
}


.last-mex{
    text-overflow: ellipsis;
}


    /* INIZIO PARTE CHAT */
.chat{
    width: 60%;
    height: 100%;
    position: relative;
}


.chat-scroll{
    background-image: url(img/mine.jpg);
    height: 430px;
    padding-bottom: 2em;
    overflow-y: auto;
}
.actual-user{
    height: 100px;
    display: flex;
    background-color: rgba(234,234,234,255);
    align-items: center;
    justify-content: space-between;
    padding-inline-end: 2em;
}

.message-sent{
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 2em;
    
}

.message-received{
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 2em;
}




.message{
    width: 300px;
    border-radius: 20px;
    background-color: white;
    padding: 1.5em;
    position: relative;
    font-size: 12px;
}




.green{
    background-color: rgba(213,249,186,255);
}


.blank{
    background-color: white;
}





.down{
    position: absolute;
    top: 2px;
    right: 20px;
    color: grey;
    cursor: pointer;
}

.message-date{
    position: absolute;
    font-size: 10px;
    bottom: 2px;
    right: 20px;
    color: grey;
}

.type-message{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline: 1em;
}

.type-bar{
    width: 90%;
    height: 40px;
    padding-inline-start: .5em;
}


.type-message>i{
    font-size: 25px;
    color: grey;
    cursor: pointer;
}


.active{
    display: block;
}